<div><%= @content %></div>
<h2>BBS</h2>
<ul>
    <% @comments.each do |comment| %>
    <li data-id= "<%= comment.id %>">
        <%= comment.comment %>
    </li>
    <% end %>
    <h2>Add new</h2>
    <form method="post" action="/new">
        <input type= "text" name="comment"><input type= "submit" value="post!">
    </form>
</ul>
